__pycache__/
.env
.venv
.pytest_cache
poetry.lock
.vscode
.config.env
logs
files/
backend/Makefile
node_modules
.DS_Store
dist
.vscode/*
!.vscode/extensions.json
*.jpg
*.pdf
netclient/netclient
.obsidian/